{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bright Smile Dental Systems{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body style="display: flex; flex-direction: column; gap: 4rem;">
    <header>
        <nav class="container">
            <div class="logo"><a href="{% url 'home' %}" style="text-decoration: none; color: white;">Bright Smile Dental Systems</a></div>
            {% if user.is_authenticated %}
            <ul class="nav-links">
                <li><a href="{% url 'clinics_urls:list-clinics' %}">Clinics</a></li>
                <li><a href="{% url 'doctors_urls:list-doctors' %}">Doctors</a></li>
                <li><a href="{% url 'patients_urls:list-patients' %}">Patients</a></li>
                <li><a href="{% url 'user_urls:logout' %}">Logout</a></li>
            </ul>
            {% endif %}
        </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2023 Bright Smile Dental Systems. All rights reserved.</p>
        </div>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>